ion-card-content {
  min-height: 10rem;

  .tile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-icon {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
}
