<ion-header translucent="true">
    <ion-toolbar>
        <div class="toolbar-images">
            <a href="/">
                <ion-img src="/assets/icon/boni_text_weiss.png" alt="Boni - Dein Lernbuddy"></ion-img>
            </a>
            <a class="card-with-link" href="/">
                <ion-img src="/assets/icon/toni_text_weiss.png" alt="Toni - Dein Lehrbuddy"></ion-img>
            </a>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div class="welcome-text">
    <h1>Willkommen bei Boni und Toni!</h1>
    <p>Boni und Toni sind deine Lern- bzw. Lehrbuddys! Im Rahmen des Hackathon <a href="https://wirfuerschule.de" target="_blank"><b>#wirfuerschule</b></a> ist dieser prototypische
      Entwurf entstanden. Bitte beachte, dass es sich um einen reinen <b>PROTOTYP</b> handelt und dieser nicht voll
      funktionsfähig ist. Er dient auschließlich der Anschaulichkeit von Funktionaliäten.
    </p>
  </div>

    <ion-grid>
        <ion-row>
            <ion-col>
                <a class="card-with-link" href="/student">
                    <ion-card>
                        <ion-img src="/assets/icon/boni_text_weiss.png" alt="Boni - Dein Lernbuddy"></ion-img>
                        <ion-card-header>
                            <ion-card-title>Boni</ion-card-title>
                            <ion-card-subtitle>DEIN LERNBUDDY</ion-card-subtitle>
                            <ion-card-content class="card-content-without-padding">
                                Klicke hier um zu Boni - deinem Lernbuddy zu gelangen
                            </ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </a>

            </ion-col>
            <ion-col>
                <a class="card-with-link" href="/teacher/overview">
                    <ion-card>
                        <ion-img src="/assets/icon/toni_text_weiss.png" alt="Toni - Dein Lehrbuddy"></ion-img>
                        <ion-card-header>
                            <ion-card-title>Toni</ion-card-title>
                            <ion-card-subtitle>DEIN LEHRBUDDY</ion-card-subtitle>
                            <ion-card-content class="card-content-without-padding">
                                Klicke hier um zu Toni - deinem Lehrbuddy zu gelangen
                            </ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
