<ion-content>
    <div class="content-wrapper">
        <div class="section-home section-home-boni">
            <ion-img alt="Boni - Dein Lernbuddy" class="avatar" src="/assets/icon/boni.svg"></ion-img>
            <div class="speech-bubble">
                <p>Hi! Ich bin Boni,<br>dein Lernbuddy.</p>
            </div>
        </div>
        <div class="section-spacer"></div>
        <div class="section-home section-home-general">
            <span class="sub-heading">Ein Projekt vom</span>
            <h1>#wirfuerschule Hackathon</h1>
            <iframe class="youtube-video" src="https://www.youtube.com/embed/7gOePFX88Sk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <p>Boni - dein Lernbuddy- und Toni - dein Lehrbuddy helfen Lernenden und Lehrenden Präsenzunterricht und
                Homeschooling auf eine einfache und übersichtliche Art zu verknüpfen. Mithilfe von Toni können App- oder
                Web-basiert Lerninhalte wie beispielsweise Dateien, Links oder Bilder adhock aus dem Unterricht oder
                bequem bei der Vorbereitung einem Kurs zur Verfügung gestellt werden. Boni ermöglicht, dass Lernende auf
                ihre Kurse zugreifen, in denen mithilfe eines übersichtlichen Feeds Lerninhalte strukturiert zur
                Verfügung stehen. Neben einem ansprechenden Design und der Übersichtlichkeit für die Lernenden steht die
                Einfachheit der Bedienung für Lehrende und die Unabhängigkeit vom Endgerät sowie ein geringes
                Datenvolumen bei der Nutzung mit im Fokus.</p>
        </div>
        <div class="section-home section-home-demo">
            <span class="sub-heading">Einblick in die ersten</span>
            <h1>Prototypen</h1>
            <p>Bitte beachte, dass es sich derzeit um reine Prototypen handelt und diese nicht voll funktionsfähig sind.
                Sie dienen ausschließlich der Anschaulichkeit von Funktionalitäten. Und noch ein kleiner Hinweis: Die Prototypen sind derzeit nur für die mobile Ansicht optimiert. Ruf diese Seite also am besten einfach direkt vom Handy aus auf.</p>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <a class="card-with-link" href="/student/overview">
                            <ion-card>
                                <ion-img src="/assets/icon/boni_text_weiss.png" alt="Boni - Dein Lernbuddy"></ion-img>
                                <ion-card-header>
                                    <ion-card-content class="card-content-without-padding">
                                        Klicke hier um zu Boni - deinem Lernbuddy zu gelangen
                                    </ion-card-content>
                                </ion-card-header>
                            </ion-card>
                        </a>
                    </ion-col>


                    <ion-col>
                        <a class="card-with-link" href="/teacher/overview">
                            <ion-card>
                                <ion-img src="/assets/icon/toni_text_weiss.png" alt="Toni - Dein Lehrbuddy"></ion-img>
                                <ion-card-header>
                                    <ion-card-content class="card-content-without-padding">
                                        Klicke hier um zu Toni - deinem Lehrbuddy zu gelangen
                                    </ion-card-content>
                                </ion-card-header>
                            </ion-card>
                        </a>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="section-home section-home-more">
            <span class="sub-heading">Hier findest du weitere</span>
            <h1>Informationen</h1>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <a target="_blank" href="https://devpost.com/software/boni-dein-lernbuddy">
                            <ion-card>
                                <ion-card-header>
                                    <ion-icon style="width: 80px; height: 80px;" name="information-circle-outline"></ion-icon>
                                </ion-card-header>
                                <ion-card-content>
                                    Devpost
                                </ion-card-content>
                            </ion-card>
                        </a>
                    </ion-col>
                    <ion-col>
                        <a target="_blank" href="https://www.youtube.com/watch?v=7gOePFX88Sk">
                            <ion-card>
                                <ion-card-header>
                                    <ion-icon style="width: 80px; height: 80px;" name="logo-youtube"></ion-icon>
                                </ion-card-header>
                                <ion-card-content>
                                    YouTube - Pitch Video
                                </ion-card-content>
                            </ion-card>
                        </a>
                    </ion-col>
                    <ion-col>
                        <a target="_blank" href="https://wirfuerschule.de/">
                            <ion-card>
                                <ion-card-header>
                                    <ion-icon style="width: 80px; height: 80px;" name="school-outline"></ion-icon>
                                </ion-card-header>
                                <ion-card-content>
                                    Wir für Schule - Hackathon
                                </ion-card-content>
                            </ion-card>
                        </a>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="section-home section-home-social">
            <span class="sub-heading">Follow Boni on</span>
            <h1>Social Media</h1>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <a target="_blank" href="https://www.instagram.com/boni.dein.lernbuddy/">
                            <ion-card>
                                <ion-card-header>
                                    <ion-icon style="width: 80px; height: 80px;" name="logo-instagram"></ion-icon>
                                </ion-card-header>
                                <ion-card-content>
                                    Instagram
                                </ion-card-content>
                            </ion-card>
                        </a>
                    </ion-col>
                    <ion-col>
                        <a target="_blank" href="https://www.youtube.com/channel/UCcgdFV0u59Pej3v4j6-db4w">
                            <ion-card>
                                <ion-card-header>
                                    <ion-icon style="width: 80px; height: 80px;" name="logo-youtube"></ion-icon>
                                </ion-card-header>
                                <ion-card-content>
                                    YouTube
                                </ion-card-content>
                            </ion-card>
                        </a>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
