<div class="feed-item">
  <ion-card>
    <!-- type = picture -->
    <ion-img *ngIf="item.type === 'picture'" [src]="item.attachmentPath"></ion-img>

    <!-- type = video -->
    <video *ngIf="item.type === 'video'" controls>
      <source [src]="item.attachmentPath" />
    </video>

    <!-- type = audio -->
    <audio *ngIf="item.type === 'audio'" controls>
      <source [src]="item.attachmentPath" />
    </audio>

    <!-- type = link -->
    <div *ngIf="item.type === 'link' && linkPreview" (click)="openLink(linkPreview.url)" class="preview">
      <h2>{{linkPreview.title}}</h2>
      <ion-img class="thumbnail" [src]="linkPreview.image"></ion-img>
      <p>{{linkPreview.description}}</p>
    </div>

    <ion-card-content class="feed-item-content">
      <div class="feed-item-content-wrapper">
        <ion-icon *ngIf="item.type === 'task'" name="create-outline"></ion-icon>
        <ion-icon *ngIf="item.type === 'info'" name="information-circle-outline"></ion-icon>

        <div>
          <h2 class="feed-item-title" *ngIf="item?.title">{{item?.title}}</h2>

          <p class="feed-item-text" [innerHTML]="item?.content"></p>

          <ion-button *ngIf="item.type === 'task'" size="small">
            <ion-icon slot="start" name="checkmark-outline"></ion-icon>
            <span>Als erledigt markieren</span>
          </ion-button>
        </div>
      </div>

      <span class="time">{{ item?.createDate | date: 'hh:mm' }}</span>
    </ion-card-content>
  </ion-card>
</div>