<ion-menu side="start" menuId="{{menuId}}" contentId="teacher-main">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item [routerLink]="['/teacher/overview']" routerDirection="forward" (click)="closeMenu()">
                Übersicht
            </ion-item>
            <ion-item [routerLink]="['/teacher/current-session']" routerDirection="forward" (click)="closeMenu()">
                Aktueller Kurs
            </ion-item>
            <ion-item [routerLink]="['/teacher/courses']" routerDirection="forward" (click)="closeMenu()">
                Meine Kurse
            </ion-item>
            <ion-item [routerLink]="['/teacher/materials']" routerDirection="forward" (click)="closeMenu()">
                Meine
                Materialien
            </ion-item>
            <ion-item [routerLink]="['/teacher/new-material']" routerDirection="forward" (click)="closeMenu()">
                Neues
                Material
            </ion-item>
            <ion-item [routerLink]="['/teacher/schedule']" routerDirection="forward" (click)="closeMenu()"
                      [disabled]="true">
                Stundenplan
            </ion-item>
            <ion-item [routerLink]="['/teacher/appointments']" routerDirection="forward" (click)="closeMenu()"
                      [disabled]="true">
                Termine
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="teacher-main"></ion-router-outlet>
