:host {
  display: flex;
  gap: 10px;

  .avatar {
    max-width: 80px;
  }

  ion-card {
    width: 100%;
    height: max-content;

    @at-root &.speech-bubble {
      overflow: visible;

      &::before {
        display: block;
        height: 12px;
        width:  15px;
        position: absolute;
        left: -7px;
        top: 40%;
        content: '\00a0';
        transform: rotate(29deg) skew(-35deg);
        background-color: inherit;
      }
    }
  }
}
