ion-card-content {
  color: var(--ion-color-background);
}

ion-card {
  background: rgba(98, 206, 255, 0.2);
  --background: transparent;
}

ion-icon {
  color: var(--ion-color-primary);
}

.extra-padding {
  margin: 20px;
}
